LIST OF DOGS

<form action="/dogs" method="GET">
  <label for="search">Query</label>
  <input type="text" id="search" name="q" autocomplete="off" />
  <input type="submit" />
</form>

<!-- <form method="POST" action="/dogs">
  <input type="submit" />
</form>
 -->

<ul>
<% @dogs.each do |dog| %>
  <li>
    <a href="/dogs/<%= dog.id %>">
      <%= dog.name %>
    </a>
  </li>
<% end %>
</ul>


