<h1>New Dog</h1>

<form method="POST" action="/dogs">
  <ul>
    <li>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"></input>
    </li>
    <li>
      <label for="tail-length">Tail Length:</label>
      <input type="number" id="tail-length" name="tail_length"></input>
    </li>
    <li>
      <label for="birth-year">Birth Year:</label>
      <input type="number" id="birth-year" name="birth_year"></input>
    </li>
    <li>
      <label for="fluffiness">Fluffiness:</label>
      <input type="number" id="fluffiness" name="fluffiness"></input>
    </li>
  </ul>

  <input type="text" id="fluffiness" name="potato"></input>

  <input type="submit" />
</form>